/*  your css code here. If applicable */
body{
	padding: 0;
	marign: 0;
	box-sizing: border-box
}

#grid{
	display: grid;
	gap: 5px;
	
}

div{
	background-color: green;
	padding: 25px;
	grid-template-columns: 80px 200px auto 40px;
	grid-template-rows: 80px 200px;	
}
